.header .logo h2 {
    text-transform: none;
}

h1.large {
    font-size: 85px;
    font-weight: 300;
}

.rsvp-title {
    float: left;
    font-size: 16px;
    padding: 5px
}

input[type="radio"] {
    -webkit-appearance: radio;
}

.radioLeft {
    text-align: left;
    font-size: 16px;
    padding: 5px
}

.select-input:after {
    margin: 35px 0 0 0;
    border: none;
}

.top-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.photo {
    border-radius: 50%;
}

.section-dashed {
    top: 650px;
}

#reponsePresentOui {
    display: none;
}

#reponsePresentNon {
    display: none;
}

#reponseAllergie {
    display: none;
}

#reponseAccompagne {
    display: none;
}

#reponseAllergieInvite {
    display: none;
}

#reponseHebergement {
    display: none;
}

.g-recaptcha {
    margin-top: 20px;
}

.summit-button {
    margin-top: 20px;
}

.block-event.swap.test {
    overflow: auto;
}

.registry-form .submit {
    background: #385984;
}

.round-circle.green {
    background: #385984;
}

.circle-dashed.timeline.bg.green {
    background: #4d7ebd;
}

.circle-dashed.relative.bg.green {
    background: #4d7ebd;
}

.dashed-border {
    stroke: none;
}

.round-circle {
    background: #D15273;
}

.circle-dashed.timeline.bg {
    background: #ef7997;
}

.block-date-hero li:first-child {
    background: #ef7997;
    color: #ffffff;
}

.block-date-hero li:last-child {
    background: #4d7ebd;
    color: #ffffff;
}

.round-circle:before {
    background: #385984;
}

.circle-dashed.bg {
    background: #ef7997;
}

.block-event.swap {
    border-color: #ef7997;
}

.but .but-svg {
    stroke: #000;
}
